// src/styles/variables.scss

$space-unit: 4px;

$space-xxs: $space-unit * 1; // 4px
$space-xs: $space-unit * 2; // 8px
$space-sm: $space-unit * 4; // 16px
$space-md: $space-unit * 6; // 24px
$space-lg: $space-unit * 8; // 32px
$space-xl: $space-unit * 12; // 48px
$space-xxl: $space-unit * 16; // 64px


